<!DOCTYPE html>

    <%-include('partials/head')%>
<body>
    <%-include('partials/header')%>
    <main>
        <div id="main-div">
          <h1>Error page</h1>
          <p id="para-inside-main">
            This website is currently being built up by the students of MIT, Moradabad
          </p>
        </div>
      </main>
    
      <%- include('partials/footer') %>
 


</body>
</html>